{% extends 'layout.html' %} {% load static %} {% block title %}
<title>About me</title>
{% endblock %} {% block content %}
<div class="px-8">
  <div
    class="relative font-light p-10 mx-auto w-10/12 block border-solid border-gray border-[1px]"
  >
    <img
      src="media/images/proficpix.jpeg"
      alt="My image"
      class="object-contain py-14 w-full h-96"
    />

    <p class="font-light tracking-wider">I am that GIRL!</p>
    <p>butttttt....it's not easy😭</p>
  </div>
</div>
{% endblock %}
